/*Default
*/
html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2c3e50;
}

h1, ul {
    margin: 0;
}

/*Clock
*/
.clock {
    position: relative;
    width: 1000px;
    height: 200px;
    left: 50%;
    margin-top: 130px;
    margin-left: -500px;
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    position: relative;
    color: whitesmoke;
    font-size: 180px;
    text-shadow: black 1px 0 10px;
}

/*Get name
*/
.getName {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 40px 0 7px 0;
    left: 50%;
    margin-left: -200px;
    background-color: rgb(0, 0, 0, 0.5);
}

.getName input {
    position: absolute;
    margin-top: 9px;
    margin-left: 15px;
}

/*Greetings
*/
.hello {
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
}

.hello .greetings {
    color: whitesmoke;
    font-size: 30px;
    text-shadow: black 1px 0 5px;
    margin: 0 0 0 10px;
}

/*Change name
*/
.changeName {
    position: relative;
    width: 75.4px;
    left: 50%;
    margin-left: -37.7px;
    margin-bottom: 11px;
}

.changeName button {
    font-size: 12px;
    text-decoration: underline;    
    text-shadow: black 1px 0 10px;
    color: whitesmoke;
    padding: 0;
}

/*To do list wrap
*/
button {
    background: transparent;
    border: 0;
}

ul {
    position: relative;
    list-style-type: none;
    padding-left: 10px;
}

.toDoListWrap {
    position: relative;
    width: 400px;
    height: 250px;
    left: 50%;
    margin-left: -200px;
    background-color: rgb(0, 0, 0, 0.5);
    /* overflow-y: auto; */
}

.toDoListWrap .nothing,
.toDoListWrap .toDoList {
    color: whitesmoke;
    text-shadow: black 1px 0 10px;
}

.toDoListWrap .nothing {
    position: absolute;
    width: 212px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -106px;
    margin-top: -32px;
}

.toDoListWrap .toDoForm {
    position: absolute;
    margin: 15px 0 0 15px;
}

li {
    margin: 7px 0 7px 3px;
}

input {
    width: 355px;
    background: transparent;
    border-color: whitesmoke;
    padding: 2px 3px 2px 7px;
    font-size: 22px;
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
}

.toDoListWrap .nothing {
    text-align: center;
    font-size: 20px;
}

.toDoListWrap .toDoList {
    position: absolute;
    width: 384px;
    height: 70%;
    left: 50%;
    margin: 60px 0 20px -200px;
    font-size: 20px;
    overflow-y: auto;
    padding-right: 10x;
    z-index: 100;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:active {
    background-color: darkgray;
}

/*Weather
*/
.weather {
    position: absolute;
    right: 1%;
    top: 1%;
    text-align: right;
}

.weather .js-weather,
.weather .js-place {
    color: white;
    text-shadow: black 1px 0 5px;
}

/*JS setting
*/
.form,
.greetings,
.getName,
.nothingToDos,
.changeName {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}
